.logo {
  font-family: JockeyOne;
  font-weight: 400;
  font-size: 3.5rem;
  background: linear-gradient(180deg, #e10935 0%, #008175 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
