.backgroundContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1 0 auto;
  // overflow-x: hidden;
  &__homeImg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  &__ganeshJiImg {
    position: absolute;
    top: 30%;
    right: 10%;
    transform: translateY(-50%);
  }
  &__quoteImg {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translateY(-55%);
  }
  &__img1 {
    position: absolute;
    top: 6%;
    left: 10%;
    z-index: 1;
  }
  &__img2 {
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 2;
  }
  &__img3 {
    position: absolute;
    top: 55%;
    left: 4%;
    z-index: 3;
  }
  &__img4 {
    position: absolute;
    bottom: 3%;
    left: 22%;
    z-index: 4;
  }
}
